#azul{
    height: 45.5%;
}

#foto{
    height: 250px;
}
#datos{
    height: 250px;
}
#texto{
    height: 50px;
}
#col{
    height:250px;
}
/* #rojo{
    height: 100%;
} */
#hijos{
    height: 100px;
}
